@{
    ViewData["Title"] = "Home Page";
}

<!-- Reference: https://www.youtube.com/watch?v=CzRM-hOe35o&t=825s&ab_channel=CodAffection -->
<div class="container">
    <div class="controls">
        <div class="main-controls">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown">
                    File
                </button>
                <div class="dropdown-menu">
                    <button id="new-btn" class="dropdown-item">
                        New
                    </button>
                    <button id="txt-btn" class="dropdown-item">
                        Save as TXT
                    </button>
                    <button id="pdf-btn" class="dropdown-item">
                        Save as PDF
                    </button>
                </div>
            </div>

            <input id="filename-input" type="text" value="untitled" />
            <button id="myBtn">Create body</button>
            <button id="contactBtn">Contact Customer</button>
        </div>
        <div class="control-btn-container">
            <button id="bold-btn" class="btn btn-dark control-btn">
                b
            </button>
            <button id="underline-btn" class="btn btn-dark control-btn">
                u
            </button>
            <button id="italic-btn" class="btn btn-dark control-btn">
                i
            </button>
            <input id="color-btn" type="color" class="control-btn" />
        </div>
    </div>

    <div id="content" contenteditable="true" spellcheck="false"></div>
</div>

<div id="myModal" class="modal">

    <!-- Reference: https://www.w3schools.com/howto/howto_css_modals.asp -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <div id="genericDiv">
            <h3>Sales Contract</h3>
            <button type="button" id="showSales" class="modalButton">Show contract</button>
        </div>

        <div id="salesDiv">
            <label for="salesDate">Effective Date:</label>
            <input type="text" id="salesDate" name="salesDate"><br><br>

            <label for="salesSeller">Seller:</label>
            <input type="text" id="salesSeller" name="salesSeller"><br><br>

            <label for="salesBuyer">Buyer:</label>
            <input type="text" id="salesBuyer" name="salesBuyer"><br><br>

            <label for="sellerAddress">Seller Address:</label>
            <input type="text" id="sellerAddress" name="sellerAddress"><br><br>

            <label for="buyerAddress">Buyer Address:</label>
            <input type="text" id="buyerAddress" name="buyerAddress"><br><br>

            <label for="salesGoods">Goods/Services Purchesed:</label>
            <input type="text" id="salesGoods" name="salesGoods"><br><br>

            <label for="shippingPriceShipping">Shipping Price:</label>
            <input type="text" id="shippingPrice" name="shippingPrice"><br><br>

            <label for="salesPrice">Purchase Price:</label>
            <input type="text" id="salesPrice" name="salesPrice"><br><br>

            <button type="button" id="hideSales" class="modalButton">Hide Contract!</button>
            <button type="button" id="createSales" class="modalButton">Create Contract!</button>
            <button type="button" id="c1Details" class="modalButton">See Details!</button>
        </div>

        <div id="genericDiv2">
            <h3>Marketing Contract</h3>
            <button type="button" id="showMarketing" class="modalButton">Show contract</button>
        </div>



        <div id="marketingDiv">
            <label for="marketingDate">Effective Date:</label>
            <input type="text" id="marketingDate" name="marketingDate"><br><br>

            <label for="marketingClient">Client:</label>
            <input type="text" id="marketingClient" name="marketingClient"><br><br>

            <label for="marketingMarketer">Marketer:</label>
            <input type="text" id="marketingMarketer" name="marketingMarketer"><br><br>

            <label for="marketingLocation">Location:</label>
            <input type="text" id="marketingLocation" name="marketingLocation"><br><br>

            <label for="marketingServices">Services:</label>
            <input type="text" id="marketingServices" name="marketingServices"><br><br>

            <label for="marketingTotalCost">Total Cost:</label>
            <input type="text" id="marketingTotalCost" name="marketingTotalCost"><br><br>

            <label for="marketingStart">Start fee:</label>
            <input type="text" id="marketingStart" name="marketingStart"><br>

            <label for="marketingComplete">Completion fee:</label>
            <input type="text" id="marketingComplete" name="marketingComplete"><br><br>

            <button type="button" id="hideMarketing" class="modalButton">Hide Contract!</button>
            <button type="button" id="createMarketing" class="modalButton">Create Contract!</button>
            <button type="button" id="c2Details" class="modalButton">See Details!</button>
        </div>

        <div id="genericDiv3">
            <h3>Commission Agreement</h3>
            <button type="button" id="showCommission" class="modalButton">Show contract</button>
        </div>

        <div id="commissionDiv">
            <label for="commissionDate">Effective Date:</label>
            <input type="text" id="commissionDate" name="commissionDate"><br><br>

            <label for="commissionPrincipal">Principal:</label>
            <input type="text" id="commissionPrincipal" name="commissionPrincipal"><br><br>

            <label for="principalAddress">Principal Address:</label>
            <input type="text" id="principalAddress" name="principalAddress"><br><br>

            <label for="commissionAgent">Agent:</label>
            <input type="text" id="commissionAgent" name="commissionAgent"><br><br>

            <label for="agentAddress">Agent Address:</label>
            <input type="text" id="agentAddress" name="agentAddress"><br><br>

            <label for="commissionGoods">Goods/Services Purchesed:</label>
            <input type="text" id="commissionGoods" name="commisionGoods"><br><br>

            <label for="commissionFee">Commission Fee:</label>
            <input type="text" id="commissionFee" name="commissionFee"><br><br>

            <button type="button" id="hideCommission" class="modalButton">Hide Contract!</button>
            <button type="button" id="createCommission" class="modalButton">Create Contract!</button>
            <button type="button" id="c3Details" class="modalButton">See Details!</button>
        </div>
    </div>

</div>


<div id="Contract1Modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">

        <h3>Contract Details</h3>


        <table id="tbl_exporttable_to_xls" border="1">
            <thead>
            <th>Effective Date</th>
            <th>Seller</th>
            <th>Buyer</th>
            <th>Seller Address</th>
            <th>Buyer Address</th>
            <th>Goods</th>
            <th>Shipping Price</th>
            <th>Order Price</th>
            </thead>
            <tbody>
                <tr>
                    <td id="c1Date"></td>
                    <td id="c1Seller"> </td>
                    <td id="c1Buyer"></td>
                    <td id="c1SellerAdd"></td>
                    <td id="c1BuyerAdd"></td>
                    <td id="c1Goods"></td>
                    <td id="c1Shipping"></td>
                    <td id="c1Price"></td>
                </tr>

            </tbody>
        </table>

        <button type="button" id="c1Back" class="modalButton">Back</button>
        <button type="button" id="c1Export" onclick="ExportToExcel('xlsx')" class="modalButton">Export</button>
    </div>
</div>

<div id="Contract2Modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">

        <h3>Contract Details</h3>


        <table id="tbl_exporttable_to_xls2" border="1">
            <thead>
            <th>Effective Date</th>
            <th>Client</th>
            <th>Marketer</th>
            <th>Location</th>
            <th>Services</th>
            <th>Total Cost</th>
            <th>Start fee</th>
            <th>Completion fee</th>
            </thead>
            <tbody>
                <tr>
                    <td id="c2Date"></td>
                    <td id="c2Client"> </td>
                    <td id="c2Marketer"></td>
                    <td id="c2Location"></td>
                    <td id="c2Services"></td>
                    <td id="c2Total"></td>
                    <td id="c2Start"></td>
                    <td id="c2Complete"></td>
                </tr>

            </tbody>
        </table>

        <button type="button" id="c2Back" class="modalButton">Back</button>
        <button type="button" id="c2Export" onclick="ExportToExcel2('xlsx')" class="modalButton">Export</button>
    </div>
</div>

<div id="Contract3Modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">

        <h3>Contract Details</h3>


        <table id="tbl_exporttable_to_xls3" border="1">
            <thead>
            <th>Effective Date</th>
            <th>Principal</th>
            <th>Principal Address</th>
            <th>Agent</th>
            <th>Agent Address</th>
            <th>Goods/Services</th>
            <th>Commission fee</th>
            </thead>
            <tbody>
                <tr>
                    <td id="c3Date"></td>
                    <td id="c3Principal"> </td>
                    <td id="c3PrincipalAddress"></td>
                    <td id="c3Agent"></td>
                    <td id="c3AgentAddress"></td>
                    <td id="c3Goods"></td>
                    <td id="c3Fee"></td>
                </tr>

            </tbody>
        </table>

        <button type="button" id="c3Back" class="modalButton">Back</button>
        <button type="button" id="c3Export" onclick="ExportToExcel3('xlsx')" class="modalButton">Export</button>
    </div>
</div>


<!-- contactModal-->
<div id="contactModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <form method="POST" class="contact-form">
            <input type="text" id="subject" class="name" placeholder="Enter Customer Name">
            <input type="email" class="email" placeholder="Enter Customer Email">
            <button type="submit" id="contactBtn">Submit</button>
        </form>


    </div>
</div>


<!-- Reference:https://www.youtube.com/watch?v=i2eXkSKjl0A&t=383s&ab_channel=RajsuthanOfficial -->
<script src="https://smtpjs.com/v3/smtp.js">
</script>

<script>


    var subject = document.getElementById("subject").value;

    const form = document.querySelector(".contact-form");
    form.addEventListener("submit", e => {
        e.preventDefault();
        let name = document.querySelector(".name").value;
        let email = document.querySelector(".email").value;




        document.querySelector(".contact-form").reset();

        sendEmail(name, email);
    })
    function sendEmail(name, email) {
        Email.send({

            Host: "smtp.elasticemail.com",
            Username: "jack.carroll1964@gmail.com",
            Password: "717E8734CD4643DA8C46139EE018186F4EF4",
            To: email,
            From: "jack.carroll1964@gmail.com",
            Subject: 'ThePID Contract Notification',
            Body: `Hi ${name}, <br> <br> <br> We are pleased to notify you that the contract you requested has been successfully completed and it will be shipped to you in the next 24 hours! <br> <br> <br> <br> Kind Regards, <br> ThePID Team`,
        }).then((success) => {

            alert("Email sent successfully.");
            contactModal.style.display = "none";
        }).catch((error) => {

            alert("error sending message");
        })
    }
</script>




<script>


    // Get the modal
    var modal = document.getElementById("myModal");
    var c1Modal = document.getElementById("Contract1Modal");
    var c2Modal = document.getElementById("Contract2Modal");
    var c3Modal = document.getElementById("Contract3Modal");
    var contact = document.getElementById("contactModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    var c1Btn = document.getElementById("c1Details");
    var c2Btn = document.getElementById("c2Details");
    var c3Btn = document.getElementById("c3Details");
    var contactBtn = document.getElementById("contactBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    c1Btn.onclick = function () {
        c1Modal.style.display = "block";
        modal.style.display = "none";


        //fill in table
        // contract1
        var salesDate = document.getElementById("salesDate").value;
        var salesSeller = document.getElementById("salesSeller").value;
        var sellerAddress = document.getElementById("sellerAddress").value;
        var salesBuyer = document.getElementById("salesBuyer").value;
        var buyerAddress = document.getElementById("buyerAddress").value;
        var salesGoods = document.getElementById("salesGoods").value;
        var shippingPrice = document.getElementById("shippingPrice").value;
        var salesPrice = document.getElementById("salesPrice").value;

        let c1Date = document.getElementById("c1Date");
        let c1Seller = document.getElementById("c1Seller");
        let c1Buyer = document.getElementById("c1Buyer");
        let c1SellerAdd = document.getElementById("c1SellerAdd");
        let c1BuyerAdd = document.getElementById("c1BuyerAdd");
        let c1Goods = document.getElementById("c1Goods");
        let c1Shipping = document.getElementById("c1Shipping");
        let c1Price = document.getElementById("c1Price");

        c1Date.append(salesDate);
        c1Seller.append(salesSeller);
        c1Buyer.append(salesBuyer);
        c1SellerAdd.append(sellerAddress);
        c1BuyerAdd.append(buyerAddress);
        c1Goods.append(salesGoods);
        c1Shipping.append(shippingPrice);
        c1Price.append(salesPrice);

    }

    c2Btn.onclick = function () {
        c2Modal.style.display = "block";
        modal.style.display = "none";

        var marketingDate = document.getElementById("marketingDate").value;
        var marketingClient = document.getElementById("marketingClient").value;
        var marketingMarketer = document.getElementById("marketingMarketer").value;
        var marketingLocation = document.getElementById("marketingLocation").value;
        var marketingServices = document.getElementById("marketingServices").value;
        var marketingTotalCost = document.getElementById("marketingTotalCost").value;
        var marketingStart = document.getElementById("marketingStart").value;
        var marketingComplete = document.getElementById("marketingComplete").value;

        let c2Date = document.getElementById("c2Date");
        let c2Marketer = document.getElementById("c2Marketer");
        let c2Client = document.getElementById("c2Client");
        let c2Location = document.getElementById("c2Location");
        let c2Services = document.getElementById("c2Services");
        let c2Total = document.getElementById("c2Total");
        let c2Start = document.getElementById("c2Start");
        let c2Complete = document.getElementById("c2Complete");

        c2Date.append(marketingDate);
        c2Client.append(marketingClient);
        c2Marketer.append(marketingMarketer);
        c2Location.append(marketingLocation);
        c2Services.append(marketingServices);
        c2Total.append(marketingTotalCost);
        c2Start.append(marketingStart);
        c2Complete.append(marketingComplete);

    }

    c3Btn.onclick = function () {
        c3Modal.style.display = "block";
        modal.style.display = "none";

        var commissionDate = document.getElementById("commissionDate").value;
        var commissionPrincipal = document.getElementById("commissionPrincipal").value;
        var principalAddress = document.getElementById("principalAddress").value;
        var commissionAgent = document.getElementById("commissionAgent").value;
        var agentAddress = document.getElementById("agentAddress").value;
        var commissionGoods = document.getElementById("commissionGoods").value;
        var commisionFee = document.getElementById("commissionFee").value;

        let c3Date = document.getElementById("c3Date");
        let c3Principal = document.getElementById("c3Principal");
        let c3PrincipalAddress = document.getElementById("c3PrincipalAddress");
        let c3Agent = document.getElementById("c3Agent");
        let c3AgentAddress = document.getElementById("c3AgentAddress");
        let c3Goods = document.getElementById("c3Goods");
        let c3Fee = document.getElementById("c3Fee");

        c3Date.append(commissionDate);
        c3Principal.append(commissionPrincipal);
        c3PrincipalAddress.append(principalAddress);
        c3Agent.append(commissionAgent);
        c3AgentAddress.append(agentAddress);
        c3Goods.append(commissionGoods);
        c3Fee.append(commisionFee);
    }

    contactBtn.onclick = function () {
        contactModal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
        c1Modal.style.display = "none";
        contactModal.style.display = "none";
    }


    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    window.onclick = function (event) {
        if (event.target == c1Modal) {
            c1Modal.style.display = "none";
        }
    }

    window.onclick = function (event) {
        if (event.target == c2Modal) {
            c2Modal.style.display = "none";
        }
    }

    window.onclick = function (event) {
        if (event.target == contactModal) {
            contactModal.style.display = "none";
        }
    }


    //Back buttons

    c1Back.onclick = function () {
        c1Modal.style.display = "none";
        modal.style.display = "block";
    }

    c2Back.onclick = function () {
        c2Modal.style.display = "none";
        modal.style.display = "block";
    }

    c3Back.onclick = function () {
        c3Modal.style.display = "none";
        modal.style.display = "block";
    }


    // Reference: https://www.youtube.com/watch?v=vWbMRlUvre8&t=298s&ab_channel=SouthBridge
    //Export

    function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById('tbl_exporttable_to_xls');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
    }

    function ExportToExcel2(type, fn, dl) {
        var elt = document.getElementById('tbl_exporttable_to_xls2');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
    }

    function ExportToExcel3(type, fn, dl) {
        var elt = document.getElementById('tbl_exporttable_to_xls3');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
    }

    var closeGeneric = document.getElementById('genericDiv');
    closeGeneric.style.display = 'block';
    var closeGeneric2 = document.getElementById('genericDiv2');
    closeGeneric2.style.display = 'block';
    var closeGeneric3 = document.getElementById('genericDiv3');
    closeGeneric3.style.display = 'block';

    var contract1 = document.getElementById('salesDiv');
    contract1.style.display = 'none';

    var contract2 = document.getElementById('marketingDiv');
    contract2.style.display = 'none';

    var contract3 = document.getElementById('commissionDiv');
    contract3.style.display = 'none';



    //buttons display
    var showSalesBtn = document.getElementById("showSales");
    var showMarketingBtn = document.getElementById("showMarketing");
    var showCommissionBtn = document.getElementById("showCommission");

    showCommission.onclick = function () {
        contract3.style.display = 'block';
        closeGeneric.style.display = 'none';
        closeGeneric2.style.display = 'none';
        closeGeneric3.style.display = 'none';
        showMarketingBtn.style.display = 'none';
        showCommissionBtn.style.display = 'none';
        showSalesBtn.style.display = 'none';
    }

    hideCommission.onclick = function () {
        contract3.style.display = 'none';
        closeGeneric.style.display = 'block';
        closeGeneric2.style.display = 'block';
        closeGeneric3.style.display = 'block';
        showMarketingBtn.style.display = 'block';
        showCommissionBtn.style.display = 'block';
        showSalesBtn.style.display = 'block';
    }

    showMarketing.onclick = function () {
        contract2.style.display = 'block';
        closeGeneric.style.display = 'none';
        closeGeneric2.style.display = 'none';
        closeGeneric3.style.display = 'none';
        showMarketingBtn.style.display = 'none';
        showCommissionBtn.style.display = 'none';
        showSalesBtn.style.display = 'none';
    }

    hideMarketing.onclick = function () {
        contract2.style.display = 'none';
        closeGeneric.style.display = 'block';
        closeGeneric2.style.display = 'block';
        closeGeneric3.style.display = 'block';
        showMarketingBtn.style.display = 'block';
        showCommissionBtn.style.display = 'block';
        showSalesBtn.style.display = 'block';
    }

    showSales.onclick = function () {
        contract1.style.display = 'block';
        closeGeneric.style.display = 'none';
        closeGeneric2.style.display = 'none';
        closeGeneric3.style.display = 'none';
        showMarketingBtn.style.display = 'none';
        showCommissionBtn.style.display = 'none';
        showSalesBtn.style.display = 'none';
    }

    hideSales.onclick = function () {
        contract1.style.display = 'none';
        closeGeneric.style.display = 'block';
        closeGeneric2.style.display = 'block';
        closeGeneric3.style.display = 'block';
        showMarketingBtn.style.display = 'block';
        showCommissionBtn.style.display = 'block';
        showSalesBtn.style.display = 'block';
    }

    createCommission.onclick = function () {
        var commissionDate = document.getElementById("commissionDate").value;
        var commissionPrincipal = document.getElementById("commissionPrincipal").value;
        var principalAddress = document.getElementById("principalAddress").value;
        var commissionAgent = document.getElementById("commissionAgent").value;
        var agentAddress = document.getElementById("agentAddress").value;
        var commissionGoods = document.getElementById("commissionGoods").value;
        var commisionFee = document.getElementById("commissionFee").value;

        let ele = document.getElementById('content');
        ele.append("Commission Agreement");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("This Commission Agreement (the “Agreement”) is entered into " + commissionDate + " (the “Effective Date”), by and between " + commissionPrincipal + " , with an address of " + principalAddress + " (the “Principal”) and " + commissionAgent + " ,with an address of " + agentAddress + " , (the “Agent”), collectively “the Parties.”");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("BACKGROUND:");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Principal wishes to sell the following product(s):");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append(commissionGoods);
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Agent agrees to sell the aforementioned product(s) on behalf of the Principal for a commission.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("1. Sales Authorization. The Principal authorizes the Agent to sell the following product(s) on behalf of  the Principal " + commissionGoods + " (the “Product”). Agent shall identify oneself as a duly authorized agent of the Principal for the sale of the Product. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("2. Guidelines for Sales. The Agent must adhere to the following guidelines when selling the Product:");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Product prices will be set by the Principal.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Principal will provide all promotional materials for the Agent's use to obtain sales.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Principal will provide a Sales Contract template to be used by the Agent in all Product sales.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("3. Commission Earnings and Payment Structure. The Parties agree the Agent will be compensated as follows (the “Commission”):");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append(commisionFee);
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("4. Principal-Agent Relationship. The Principal engages the Agent solely for the purpose of selling the product(s) listed in Section 1. The Agent may only enter into contracts and/or agreements on behalf of the Principal as it relates to the sale of said product(s). The Agent may not otherwise commit the Principal to any other obligations whatsoever without separate authorization from the Principal");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("5. Non-Compete. The Agent will not sell a competing product for any competitor in the Sales Territory during the Term of this Agreement or for 2 years after the termination of this Agreement");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("6. Confidentiality. During the course of this Agreement, it may be necessary for the Principal to share proprietary information, including trade secrets, industry knowledge, and other confidential information, to the Agent in order for the Agent to successfully sell the Product. The Agent will not share any of this proprietary information at any time. The Agent also will not use any of this proprietary information for the Agent’s personal benefit at any time. This section remains in full force and effect even after termination of the Agreement by it’s natural termination or the early termination by either party. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("7. Termination. This Agreement may be terminated at any time by either Party upon written notice to the other party. The Principal will be responsible for payment of all Commissions earned up to the date of termination. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Upon termination, the Agent shall return all the Principal’s content, materials, and associated work product, if applicable, to the Principal at its earliest convenience, but in no event beyond thirty (30) days after the date of termination.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("8. Representations and Warranties. Both Parties represent that they are fully authorized to enter into this Agreement. The performance and obligations of either Party will not violate or infringe upon the rights of any third-party or violate any other agreement between the Parties, individually, and any other person, organization, or business or any law or governmental regulation.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("9. Severability. In the event any provision of this Agreement is deemed invalid or unenforceable, in whole or in part, that part shall be severed from the remainder of the Agreement and all other provisions should continue in full force and effect as valid and enforceable. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("10. Waiver. The failure by either Party to exercise any right, power, or privilege under the terms of this Agreement will not be construed as a waiver of any subsequent or future exercise of that right, power, or privilege or the exercise of any other right, power, or privilege. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("11. Legal Fees. In the event of a dispute resulting in legal action, the successful Party will be entitled to its legal fees, including, but not limited to its attorneys’ fees.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("12. Legal and Binding Agreement. This Agreement is legal and binding between the Parties as stated above. This Agreement may be entered into and is legal and binding both in the United States and throughout Europe. The Parties each represent that they have the authority to enter into this Agreement.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("13. Governing Law and Jurisdiction. The Parties agree that this Agreement shall be governed by the State and/or Country in which both Parties do business. In the event that the Parties do business in different States and/or Countries, this Agreement shall be governed by Irish law.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("14. Entire Agreement. The Parties acknowledge and agree that this Agreement represents the entire agreement between the Parties. In the event that the Parties desire to change, add, or otherwise modify any terms, they shall do so in writing to be signed by both parties.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("The Parties agree to the terms and conditions set forth above as demonstrated by their signatures as follows:");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Principal");
        ele.appendChild(document.createElement("br"));
        ele.append("Name:");
        ele.appendChild(document.createElement("br"));
        ele.append("Signed:");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Agent");
        ele.appendChild(document.createElement("br"));
        ele.append("Name:");
        ele.appendChild(document.createElement("br"));
        ele.append("Signed:");

        modal.style.display = "none";

    }

    createMarketing.onclick = function () {
        var marketingDate = document.getElementById("marketingDate").value;
        var marketingClient = document.getElementById("marketingClient").value;
        var marketingMarketer = document.getElementById("marketingMarketer").value;
        var marketingLocation = document.getElementById("marketingLocation").value;
        var marketingServices = document.getElementById("marketingServices").value;
        var marketingTotalCost = document.getElementById("marketingTotalCost").value;
        var marketingStart = document.getElementById("marketingStart").value;
        var marketingComplete = document.getElementById("marketingComplete").value;

        let ele = document.getElementById('content');
        ele.append("Marketing Agreement");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("This Marketing Services Agreement (“Agreement”) is entered into " + marketingDate + " (the “Effective Date”) by and between" + marketingClient + " (the “Client”) located at " + marketingLocation + " and " + marketingMarketer + "(the “Marketer”) , individually referred to as “Party”, and collectively the “Parties”.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("WHEREAS, the Client is in need of marketing services; and ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("WHEREAS, the Marketer has the ability to provide such services; ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("IN CONSIDERATION of, the mutual promises, covenants, and conditions contained herein, the Parties agree as follows: ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("1. Services. The Client hires the Marketer to perform the following marketing services (the “Services”):");
        ele.appendChild(document.createElement("br"));
        ele.append(marketingServices);
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("2. Fees. The Client agrees to pay the Marketer the following fee for the Marketer’s performance of the Services. Payment shall be made in accordance with the schedule set forth below.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Total Cost of the Services: " + marketingTotalCost);
        ele.appendChild(document.createElement("br"));
        ele.append("Amount Due Upon Execution of Agreement: " + marketingStart);
        ele.appendChild(document.createElement("br"));
        ele.append("Marketing Agreement" + marketingComplete);
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("3. Confidentiality. During the course of this Agreement, it may be necessary for the Client to share proprietary information, including trade secrets, industry knowledge, and other confidential information, with the Marketer in order for the Marketer to complete the Services. The Marketer will not share any of this proprietary information at any time. The Marketer also will not use any of this proprietary information for the Marketer’s personal benefit at any time. This section remains in full force and effect even after termination of the Agreement by its natural termination or early termination by either Party.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("4. Relationship of the Parties.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("No Exclusivity: The Parties understand this Agreement is not an exclusive arrangement.  The Parties agree they are free to enter into other similar agreements with other parties. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Independent Contractors. The Parties agree that the Marketer is providing the Services under this Agreement and acting as an Independent Contractor and not as an employee. This Agreement does not create a partnership, joint venture, or any other fiduciary relationship between the Client and the Marketer. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("5. Ownership Rights. The Client continues to own any and all proprietary  information it shares with the Marketer during the term of this Agreement for the purposes of the Project. The Marketer has no rights to this proprietary  information and may not use it except to complete the Services. Upon  completion of the Agreement, the Client will own the final marketing services. While the Marketer will customize the Client’s marketing materials to the Client’s specifications, the Client  recognizes that marketing materials generally have a common structure and basis.  The Marketer continues to own any and all template designs it may have created  prior to this Agreement. The Marketer will further own any template designs it may create as a result of this Agreement.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("6. Limitation of Liability. UNDER NO CIRCUMSTANCES SHALL EITHER PARTY BE LIABLE TO THE OTHER PARTY OR ANY THIRD PARTY FOR ANY DAMAGES RESULTING FROM ANY PART OF THIS AGREEMENT SUCH AS, BUT NOT LIMITED TO, LOSS OF REVENUE OR ANTICIPATED PROFIT OR LOST BUSINESS, COSTS OF DELAY OR FAILURE OF DELIVERY, WHICH ARE NOT RELATED TO OR THE DIRECT RESULT OF A PARTY’S NEGLIGENCE OR BREACH.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("7. Waiver. Neither Party can waive any provision of this Agreement, or any rights or obligations under this Agreement, unless agreed to in writing by the Parties.   If any provision, right, or obligation is waived, it is only waived to the extent agreed to in writing.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("8. Assignment. Neither Party may assign its rights and/or obligations under this Agreement.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("9. Dispute Resolution.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Choice of Law. The Parties agree that this Agreement shall be governed by the State and/or Country in which the duties of this employment Agreement are expected to take place. In the event that the duties of this Agreement are to take place in multiple States and/or Countries, this Agreement shall be governed by Irish law.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Mediation/Arbitration: If the dispute cannot be resolved through good faith negotiation, either Party may initiate mediation or binding arbitration in a forum mutually agreed to by the Parties.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Attorney’s Fees. In the event of Arbitration and/or Mediation, the prevailing Party will be entitled to its legal fees, including, but not limited to, its attorneys’ fees.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("10. Entire Agreement. The Parties acknowledge and agree that this Agreement represents the entire agreement between the Parties. In the event that the Parties desire to change, add, or otherwise modify any terms, they shall do so in writing to be signed by both parties.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("11.Severability. In the event any provision of this Agreement is deemed invalid or unenforceable, in whole or in part, that part shall be severed from the remainder of the Agreement and all other provisions shall continue in full force and effect as valid and enforceable. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("12. Notices. All notices under this Agreement must be sent by e-email with return receipt requested or certified or registered mail with return receipt requested.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("The Parties agree to the terms and conditions set forth above as demonstrated by their signatures as follows:");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Client");
        ele.appendChild(document.createElement("br"));
        ele.append("Name: " + marketingClient);
        ele.appendChild(document.createElement("br"));
        ele.append("Signed: ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Marketer");
        ele.appendChild(document.createElement("br"));
        ele.append("Name: " + marketingMarketer);
        ele.appendChild(document.createElement("br"));
        ele.append("Signed: " + marketingMarketer);


        modal.style.display = "none";
    }

    createSales.onclick = function () {
        var salesDate = document.getElementById("salesDate").value;
        var salesSeller = document.getElementById("salesSeller").value;
        var sellerAddress = document.getElementById("sellerAddress").value;
        var salesBuyer = document.getElementById("salesBuyer").value;
        var buyerAddress = document.getElementById("buyerAddress").value;
        var salesGoods = document.getElementById("salesGoods").value;
        var shippingPrice = document.getElementById("shippingPrice").value;
        var salesPrice = document.getElementById("salesPrice").value;



        let ele = document.getElementById('content');
        let node = document.createTextNode('This Sales Agreement (the “Agreement”) is entered into ' + salesDate + ', by and between ' + salesSeller + ', with an address of ' + sellerAddress + ' (the “Seller”) and ' + salesBuyer + ', with an address of ' + buyerAddress + ', (the “Buyer”), also individually referred to as “Party”, and collectively “the Parties.”');
        ele.append("Sales Agreement");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.appendChild(node);
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("BACKGROUND:");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("The Seller is the manufacturer/distributor of the following product(s):");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append(salesGoods);
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("and");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("The Buyer wishes to purchase the aforementioned product(s).");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("THEREFORE, the Parties agree as follows:");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("1.  Sale of Goods. The Seller shall make available for sale and the Buyer shall purchase " + salesGoods + "(“Goods”).");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("2.  Delivery. The Seller shall deliver the Goods to the Buyer at " + buyerAddress + ". The Goods shall be deemed delivered when the Buyer has accepted delivery at the above-referenced location. The shipping method shall be determined by the Seller, but the Buyer will only be responsible for shipping costs up to $." + shippingPrice + ".");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("3.  Purchase Price & Payments. The Seller agrees to sell the Goods to the Buyer for $" + salesPrice + ". he Seller will provide an invoice to the Buyer at the time of delivery. All invoices must be paid, in full, within thirty (30) days. Any balances not paid within thirty (30) days will be subject to a five percent (5%) late payment penalty. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("4.  Inspection of Goods & Rejection. The Buyer is entitled to inspect the Goods upon delivery. If the Goods are unacceptable for any reason, the Buyer must reject them at the time of delivery or within five (5) business days from the date of delivery. If the Buyer has not rejected the Goods within five (5) business days from the date of delivery, the Buyer shall have waived any right to reject that specific delivery of Goods. In the event the Buyer rejects the Goods, the Buyer shall allow the Seller a reasonable time to cure the deficiency. A reasonable time period shall be determined by industry standards for the particular Goods, as well as the Seller and the Buyer.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("5.  Risk of Loss. Risk of loss will be on the Seller until the time when the Buyer accepts delivery. The Seller shall maintain any and all necessary insurance in order to insure the Goods against loss at the Seller’s own expense.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("6.  Title. Title to the Goods will remain with the Seller until the Buyer accepts delivery.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("7.  Excuse for Delay or Failure to Perform. The Seller will not be liable to the Buyer for any delay, non-delivery or default of this Agreement due to labor disputes, transportation shortage, delay or shortage of materials to produce the Goods, fires, accidents, Acts of God, or any other causes outside of the Seller’s control. The Seller shall notify the Buyer immediately upon realization that it will not be able to deliver the Goods as promised. Either Party may terminate this Agreement upon such notice.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("8.  Termination. This Agreement may be terminated at any time by either Party upon written notice to the other Party. The Buyer will be responsible for payment of all Goods delivered and accepted up to the date of termination. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("9.  Disclaimer of Warranties. THE GOODS ARE SOLD ‘AS IS’. THE SELLER EXPRESSLY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("10. Limitation of Liability. UNDER NO CIRCUMSTANCES SHALL EITHER PARTY BE LIABLE TO THE OTHER PARTY OR ANY THIRD PARTY FOR ANY DAMAGES RESULTING FROM ANY PART OF THIS AGREEMENT SUCH AS, BUT NOT LIMITED TO, LOSS OF REVENUE OR ANTICIPATED PROFIT OR LOST BUSINESS, COSTS OF DELAY OR FAILURE OF DELIVERY, WHICH ARE NOT RELATED TO OR THE DIRECT RESULT OF A PARTY’S NEGLIGENCE OR BREACH.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("11. Severability. In the event any provision of this Agreement is deemed invalid or unenforceable, in whole or in part, that part shall be severed from the remainder of the Agreement and all other provisions should continue in full force and effect as valid and enforceable. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("12. Waiver. The failure by either Party to exercise any right, power, or privilege under the terms of this Agreement will not be construed as a waiver of any subsequent or future exercise of that right, power, or privilege or the exercise of any other right, power, or privilege. ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("13. Remedies and Legal Fees. In the event of a dispute, the Buyer’s sole remedy for any and all losses or damages resulting from defective Goods or from any other cause will be for the purchase price of the particular Goods with respect to which losses or damages are claimed, plus any shipping costs paid by the Buyer. In the event such dispute results in legal action, the successful Party will be entitled to its legal fees, including, but not limited to its attorneys’ fees.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("14. Legal and Binding Agreement. This Agreement is legal and binding between the Parties as stated above. This Agreement may be entered into and is legal and binding both in the United States and throughout Europe. The Parties each represent that they have the authority to enter into this Agreement.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("15. Governing Law and Jurisdiction. The Parties agree that this Agreement shall be governed by the State and/or Country in which both Parties do business. In the event that the Parties do business in different States and/or Countries, this Agreement shall be governed by Irish law.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("16. Entire Agreement. The Parties acknowledge and agree that this Agreement represents the entire agreement between the Parties. In the event that the Parties desire to change, add, or otherwise modify any terms, they shall do so in writing to be signed by both Parties.");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("The Parties agree to the terms and conditions set forth above as demonstrated by their signatures as follows:");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Seller");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Name: " + salesSeller);
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Date: " + salesDate);
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Signed: ");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Buyer");
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Name: " + salesBuyer);
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Date: " + salesDate);
        ele.appendChild(document.createElement("br"));
        ele.appendChild(document.createElement("br"));
        ele.append("Signed: ");



        modal.style.display = "none";
    }




    addTitle.onclick = function () {
        var x = document.getElementById("contractTitle").value;
        let ele = document.getElementById('content');

        let node = document.createTextNode(x);
        ele.appendChild(node);
        ele.appendChild(document.createElement("br"));
        ele.style.textAlign = "center";
        //'This Sales Agreement (the “Agreement”) is entered into ' + salesDate + ', by and between ' + salesSeller

        var salesGoods = document.getElementById("salesGoods").value;
        var shippingPrice = document.getElementById("Shipping Price").value;
        var salesPrice = document.getElementById("salesPrice").value;

    }




</script>


<script src="htmltopdf.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="script.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script>
    const boldBtn = document.querySelector("#bold-btn")
    const underlineBtn = document.querySelector("#underline-btn")
    const italicBtn = document.querySelector("#italic-btn")
    const colorBtn = document.querySelector("#color-btn")

    const newBtn = document.querySelector("#new-btn")
    const txtBtn = document.querySelector("#txt-btn")
    const pdfBtn = document.querySelector("#pdf-btn")

    const content = document.querySelector("#content")
    const filename = document.querySelector("#filename-input")

    boldBtn.addEventListener("click", () => {
        document.execCommand("bold")
    })

    underlineBtn.addEventListener("click", () => {
        document.execCommand("underline")
    })

    italicBtn.addEventListener("click", () => {
        document.execCommand("italic")
    })

    colorBtn.addEventListener("input", () => {
        document.execCommand("forecolor", false, colorBtn.value)
    })

    newBtn.addEventListener("click", () => {
        content.innerHTML = ""
    })

    txtBtn.addEventListener("click", () => {
        const a = document.createElement("a")
        const blob = new Blob([content.innerText])
        const dataUrl = URL.createObjectURL(blob)
        a.href = dataUrl
        a.download = filename.value + ".txt"
        a.click()
    })

    pdfBtn.addEventListener('click', () => {
        html2pdf().from(content).save(filename.value)
    })
</script>

<style>

    #content {
        background-color: white;
    }

    body {
        background-color: #98B4D4;
    }

    #myBtn {
        background-color: #1b6ec2;
        border: none;
        color: white;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 0px 6px;
        cursor: pointer;
        border-radius: 4px;
    }

    #contactBtn {
        background-color: #1b6ec2;
        border: none;
        color: white;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 0px 6px;
        cursor: pointer;
        border-radius: 4px;
    }

    .modalButton {
        display: inline-block;
        background-color: #1b6ec2;
        border: none;
        color: white;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 0px 6px;
        cursor: pointer;
        border-radius: 4px;
    }

    #title {
        padding: 10px 0;
        border-bottom: 2px solid #ccc;
        margin-bottom: 10px;
    }

    .controls {
        display: flex;
        justify-content: space-between;
    }

    .main-controls {
        display: flex;
    }

    .control-btn-container {
        display: flex;
    }

    .control-btn {
        margin-left: 8px;
        width: 50px;
        height: 100%;
    }

    #filename-input {
        margin-left: 10px;
    }

    #content {
        padding: 20px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        outline: none;
        min-height: 300px;
        margin: 30px 0;
    }


    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        text-align: center;
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    #c1Back {
        width: 10%;
        margin: 1% auto;
    }

    #c1Export {
        width: 10%;
        margin: 1% auto;
    }

    #c2Back {
        width: 10%;
        margin: 1% auto;
    }

    #c2Export {
        width: 10%;
        margin: 1% auto;
    }

    #c3Back {
        width: 10%;
        margin: 1% auto;
    }

    #c3Export {
        width: 10%;
        margin: 1% auto;
    }



    #showSales {
        margin: 0 auto;
    }

    #showMarketing {
        margin: 0 auto;
    }

    #showCommission {
        margin: 0 auto;
    }
</style>
